<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head th:fragment="page_head(title)">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>[[${title}]]</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script> 
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<style>
a{
color:black;
}
a:hover{
color:#50ae8a;
font-size:14px;
}
a{
font-size:13px;
}
button{
color:black;
}
</style> 
</head>
</head>
<body>
 <div th:fragment="footer" class="text-center m-3">
 	<p>SkinItReal Control Panel - Copyright &copy; SkinItReal</p>
 </div>

</body>
</html>